apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: community-platform-frontend
  namespace: communities-platform-argo
spec:
  project: community-platform-intern
  source:
    repoURL: https://github.com/SanctuaryV/community-platform-plus-frontend.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: communities-platform-argo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
