apiVersion: apps/v1
kind: Deployment
metadata:
  name: community-platform-frontend
  namespace: communities-platform-argo
  labels:
    app: community-platform-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: community-platform-frontend
  template:
    metadata:
      labels:
        app: community-platform-frontend
    spec:
      containers:
        - name: frontend
          image: asia-southeast1-docker.pkg.dev/tdg-sec-non-prod-bnxe/community-platform-plus/community-platform-plus-frontend:54
          ports:
            - containerPort: 80
          startupProbe:
            httpGet:
              path: /
              port: 80
            failureThreshold: 30
            periodSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: 80
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"