apiVersion: v1
kind: Service
metadata:
  name: communities-platform-frontend
  namespace: communities-platform-argo
  labels:
    app: frontend
    tier: frontend
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
